---
layout: default
---

{% assign t1 = page.category %}
{% assign t2 = page.categories %}
{% assign t3 = site.category %}
{% assign t4 = site.categories %}
{% assign t5 = site.categories[category] %}
{% assign t6 = site.time  %}
<h1> {{ page.keyword }}</h1>
<h1> {{ t6 }} + 6</h1>
<!--
<h1> {{ page.category }} </h1>
<h1> {{ page.categories }} </h1>
<h1> Hello world! {{site.category}} </h1>
<h1> {{site.categories[page.category]}} </h1>
<h1> {{category}}</h1>
<h1> {{categories}}</h1>
<p> {{ page.category}} </p>
-->
<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title | escape }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>
    
  {% endfor %}
  
</ul>